
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    display: flex;
    
   
  }

  .container{
    background-color: aqua;
    height: 300px;
    width: 90vh;
    margin: auto;
  
  }
  #fact {
    margin: 20px 0;
    font-size: 1.2em;
    color: #333;
  }
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #45a049;
  }